@charset "utf-8";

:root {
    --bg-color: #212225;
    --bg-color2: rgba(84,86,95,0.4);
    --bg-color3: #36363c;
    --border-color: #7f7f7f;
    --color: #fdfdff;
    --point-color: #4d76ff;
}

.switch__slider::before {transform: translate(1.6rem, -50%);}