@charset "utf-8";

@font-face {
  font-family: blueocean;
  src: url(/font/BLUEOCEAN.ttf);
}

@font-face {
  font-family: pretendard;
  font-weight: 400;
  src: url(/font/woff/Pretendard-Regular.woff) format("woff"),
      url(/font/woff2/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: pretendard;
  font-weight: 700;
  src: url(/font/woff/Pretendard-Regular.woff) format("woff"),
      url(/font/woff2/Pretendard-Regular.woff2) format("woff2");
}

:root {
  --text-color: #434B50;
  --bg-color: #FFFDF3;
}

body {font-family: pretendard, sans-serif; color: var(--text-color); background: var(--bg-color); transition: 0.3s ease-out; overflow-x: hidden; max-width: 100%; width: 100%; overscroll-behavior: none;}

* {box-sizing: border-box;}

section:not(#sectionPin) {min-height: 100vh; width: 100%; position: relative; padding: 50px 10vw; margin: auto;}

#sc01 {display: flex; align-items: center; flex-wrap: wrap;}
#sc01 h3.name {display: block; width: 100%; font-size: 1.25rem; height: 180px; position: relative;}
#sc01 h1 {width: 100%; font-family: blueocean, sans-serif; font-size: 6rem; line-height: 1.5; text-align: left;}
#sc01 h1 span {display: block; position: relative;}
#sc01 h1 span.txt01 {margin-left: -20px;}
#sc01 h1 span.rotate {display: inline-block; width: 60px; height: 60px; animation: rotate 5s linear infinite; transform-origin: center center;}
#sc01 .msg {display: flex; align-items: center; justify-content: center; width: 180px; height: 180px; margin-left: auto; background: var(--text-color); border-radius: 100%; position: relative;}
#sc01 .msg::before {content: ""; background: url(../img/msg_txt.svg) center center no-repeat; width: 160px; height: 160px; background-size: cover; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); animation: msgrotate 10s linear infinite; transform-origin: center center;}
#sc01 .msg img {width: 80px; height: 80px;}

@keyframes rotate {
  100% {transform: rotate(-360deg);}
}

@keyframes msgrotate {
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}


img {
  height: 80vh;
  width: auto;
  object-fit: cover;
}


@media (max-width: 768px) {
  section h1 {font-size: 16vw;}

}


#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  background: var(--text-color);
  color: var(--bg-color);
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap>* {
  min-width: 60vw;
  padding: 0 5vw;
}

p {
  position: absolute;
  bottom: 10vw;
  right: 10vw;
  width: 200px;
  line-height: 1.5;
}