@charset "utf-8";

@font-face {
  font-family: pretendard;
  font-weight: 300;
  src: url(/font/woff/Pretendard-Light.woff) format("woff"),
      url(/font/woff2/Pretendard-Light.woff2) format("woff2");
}

@font-face {
  font-family: pretendard;
  font-weight: 400;
  src: url(/font/woff/Pretendard-Regular.woff) format("woff"),
      url(/font/woff2/Pretendard-Regular.woff2) format("woff2");
}

@font-face {
  font-family: pretendard;
  font-weight: 500;
  src: url(/font/woff/Pretendard-Medium.woff) format("woff"),
      url(/font/woff2/Pretendard-Medium.woff2) format("woff2");
}

@font-face {
  font-family: pretendard;
  font-weight: 700;
  src: url(/font/woff/Pretendard-Bold.woff) format("woff"),
      url(/font/woff2/Pretendard-Bold.woff2) format("woff2");
}

::-webkit-scrollbar {width: 6px; background: transparent;}
::-webkit-scrollbar-thumb {border-radius: 50px; background: var(--point-color);}
::-webkit-scrollbar-track {background: transparent;}

html {width: 100%; height: 100%;}
body {scroll-behavior: smooth; font-family: pretendard, sans-serif; color: var(--color); background: var(--bg-color); max-width: 100%; width: 100%; height: auto; overscroll-behavior: none; overflow-x: hidden;}

.overlay {position: fixed; top: 0; left: 0; right: 0; bottom: 0; height: 100vh; overflow: hidden; z-index: 0; background: var(--point-color); opacity: .8;}

.container {width: 100%; height: auto; min-height: 100vh; position: relative; z-index: 3; transform: translateY(0);}
.container::before {content: ""; width: 100%; height: 100%; animation: expand .8s ease forwards; animation-delay: 0; background: var(--bg-color); position: absolute; transform: translateY(0); z-index: 0;}

.container > * {opacity: 0; animation: opacity .8s ease forwards; animation-delay: .4s; z-index: 2;}

header {padding: 2vw 10vw;  display: flex; justify-content: space-between; width: 100%; position: relative; z-index: 99;}
header h3.logo a {color: var(--color); font-size: 1.75rem; font-weight: 700;} 
header ul.nav {display: flex; align-items: center; gap: 4vh;}
header ul.nav li a {color: var(--color); font-size: 1.125rem; font-weight: 500; opacity: .5; transition: .2s linear; position: relative; overflow: hidden; display: block; width: 55px; height: 18px; text-align: center;} 
header ul.nav li a span {display: flex; align-items: flex-end; justify-content: flex-end; width: 100%; height: 100%; position: absolute; transition: .2s linear; font-size: 1.25rem;}
header ul.nav li a span.default {top: 0;}
header ul.nav li a span.hover {top: 20px;}
header ul.nav li a.on {opacity: 1; transition: 0.2s linear;}


.switch {position: relative; display: inline-block; width: 3.8rem; height: 1.8rem;}
.switch__input {opacity: 0; width: 0; height: 0;}
.switch__slider {position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 1rem; background: var(--bg-color2); cursor: pointer;}
.switch__slider::before {content: ""; position: absolute; left: 0.4rem; top: 50%;  transform: translateY(-50%); height: 1.3rem; width: 1.3rem; border-radius: 50%; background: var(--point-color);}


section {display: flex; flex-wrap: wrap; align-items: center; padding: 5vw 10vw; gap: 36px; position: relative;}
#work > a {width: calc(100% / 4 - 27px); position: relative; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
#work > a .info {display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-between; width: 100%; padding-bottom: 1vw; margin-bottom: 1vw; border-bottom: 1px solid var(--border-color);}
#work > a .info li.tit {font-size: 1.25rem; font-weight: 500; color: var(--color);}
#work > a .info li.cate {color: var(--point-color); font-size: .9375rem; display: block;}
#work > a > img {width: 100%; height: 100%; object-fit: cover; pointer-events: none; transition: .2s linear; border-radius: 0;}


section .box {width: 100%;}
section .box + .box {margin-top: 20px;}
section .box h4.tit {font-size: 1.25rem; font-weight: 600; color: var(--color); margin-bottom: 20px;}
section .box span {font-size: 1rem; color: var(--color); line-height: 1.5;}
section .box .experience {display: flex; flex-wrap: wrap; gap: 30px 0;}
section .box .experience li {width: 100%; display: flex; align-items: flex-start; font-size: 1rem; font-weight: 400;}
section .box .experience li span.date {width: 100%; max-width: 200px; display: flex; flex-wrap: wrap; align-items: center; font-size: 1.0625rem; font-weight: 500;}
section .box .experience li span.date small {width: 100%; font-size: .875rem; font-weight: 400; color: var(--color); opacity: .8;}


.blob_wrap {position: fixed; right: 0; bottom: 0; z-index: 0; height: 100%; width: 100%; overflow: hidden; filter: blur(100px);}
.blob {border-radius: 100%; position: absolute; right: -100px; bottom: -100px; opacity: .3; background-color: var(--point-color); height: 500px; width: 500px; animation: moveInfinite 8s infinite ease;}


@keyframes expand {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
}

@keyframes opacity {
  0% {opacity: 0; transform: translateY(100px);}
  100% {opacity: 1; transform: translateY(0);}
}

@keyframes moveInfinite {
  0% {bottom: -50px; right: -50px;}
  30% {bottom: -130px; right: -100px;}
  60% {bottom: -50px; right: -50px;}
  100% {bottom: -100px; right: -100px;}
}

@media (hover: hover) {
  header ul.nav li a:hover span.default {top: -20px;}
  header ul.nav li a:hover span.hover {top: 0;}
  header ul.nav li a:hover {opacity: 1; transition: 0.2s linear;}

  #work > a:hover > img {border-radius: 50%;}
}


@media (max-width: 1600px) {
  section {margin-top: 5vw;}
  #work > a {width: calc(100% / 3 - 24px);}
}


@media (max-width: 1420px) {
  html, body {font-size: 80%;}

  #work > a {width: calc(100% / 2 - 18px);}
}


@media (max-width: 768px) {
  #work > a {width: 100%;}
}


@media (max-width: 500px) {
  html, body {font-size: 62.5%;}
  header ul.nav li a {width: 30px;}
  header ul.nav li a span {font-size: 1.125rem;}
}