@charset "utf-8";

main {padding: 10vw 10vw 0; display: flex; align-items: center; justify-content: center; gap: 36px; text-align: center; flex-wrap: wrap;}
main .tit {width: 100%; text-align: center; display: flex; gap: 18px; flex-wrap: wrap;}
main .tit h3 {width: 100%; font-size: 3rem; font-weight: 700;}
main .tit span {font-size: 1.5rem; font-weight: 300; letter-spacing: .1rem; display: block; width: 100%;}
main .link {position: relative; height: 100px;}
main .link a span {display: flex; align-items: center; justify-content: center; width: 70px; height: 70px; border: 1px solid var(--border-color); border-radius: 100%; font-size: 1rem; color: #555; font-weight: 700; line-height: 1.2; letter-spacing: 0; transition: .3s;}
main .link a span::before {content: ""; background: var(--bg-color); width: 100%; height: 100%; border-radius: 100%; position: absolute; left: 0; top: 0; z-index: -1;}
main .link a span svg path {fill: var(--color);}
main .cate {width: 100%; display: flex; gap: 9px; align-items: center; justify-content: center;}
main .cate li {color: var(--point-color); font-size: .8125rem; font-weight: 400; padding: 4px 10px; border: 1px solid var(--point-color); background: var(--bg-color); border-radius: 50px; opacity: .8;}
main .cate li.access {color: var(--point-color2); border-color: var(--point-color2);}


.desc {padding: 5vw 10vw; display: flex; flex-wrap: wrap; gap: 50px; width: 100%; max-width: 1200px; margin: 0 auto;}
.desc > * {width: 100%;}
.desc .img ul {display: flex; flex-wrap: wrap; gap: 50px;}
.desc .img ul li img {max-width: 100%;}
.desc h4 {font-size: 1.25rem; color: var(--color); font-weight: 600; margin-bottom: 18px;}
.desc .used {display: flex; gap: 18px; background: var(--bg-color3); width: 100%; border-radius: 4px; padding: 1vw 2vw;}
.desc .used li {color: var(--color); font-size: .9375rem; font-weight: 500;}
.desc .work {display: flex; flex-wrap: wrap; gap: 18px; background: var(--bg-color3); width: 100%; border-radius: 4px; padding: 1vw 2vw;}
.desc .work li {width: 100%;}
.desc .work li small {display: block; width: 100%; margin-bottom: 10px; font-size: .875rem; font-weight: 500;}
.desc .work li span {display: inline-block; background: var(--point-color); border-radius: 0 50px 50px 0; padding: 4px 8px ; color: #fff; font-size: .875rem; font-weight: 500;}
.desc .work li span.p50 {animation: p50 2s forwards;}
.desc .work li span.p75 {animation: p75 2s forwards;}
.desc .work li span.p100 {animation: p100 2s forwards;}


.btn {transition: .4s; opacity: 0;}
.btn a.home {position: fixed; bottom: 3vw; left: 10vw; z-index: 5;}
.btn a.scrolltop {position: fixed; bottom: 3vw; right: 10vw; z-index: 5;}
.btn a {width: 70px; height: 70px; background: var(--bg-color); border: 1px solid var(--border-color); border-radius: 50%; cursor: pointer; transition: .3s; display: flex; align-items: center; justify-content: center; position: relative; transition: .3s;}
.btn a::before {content: ""; background: transparent; width: 100%; height: 100%; border-radius: 15px; position: absolute; left: 0; top: 0; z-index: 0;}
.btn a svg {z-index: 1;}
.btn a svg path {fill: var(--color);}


.loop_wrap {display: flex; width: 100%; height: 100vh; display: flex; align-items: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 0;}
.loop_wrap .txt {color: var(--bg-color2); flex: 0 0 auto; white-space: nowrap; font-size: 20rem; font-weight: 900; letter-spacing: 0.03em; opacity: .4;}
.loop_wrap .txt:nth-child(odd) {animation: loop 80s -40s linear infinite;}
.loop_wrap .txt:nth-child(even) {animation: loop2 80s linear infinite;}

@keyframes loop {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

@keyframes loop2 {
    from {transform: translateX(0);}
    to {transform: translateX(-200%);}
}

@keyframes p100 {
    from{width:0px}
    to{width: 100%}
}

@keyframes p75 {
    from{width:0px}
    to{width: 50%}
}

@keyframes p50 {
    from{width:0px}
    to{width: 50%}
}


@media (hover: hover) {
    main .link a:hover span {width: 100px; height: 100px;}


    .btn a:hover {width: 80px; height: 80px;}
}


@media (max-width: 768px) {
    .desc .txt ul {padding: 3vw;}


    .btn a.home {bottom: 5vw; left: 5vw;}
    .btn a.scrolltop {bottom: 5vw; right:5vw;}
    .btn a {width: 45px; height: 45px;}
}