@charset "utf-8";

section {padding: 50px 10vw;}

.top_tit {height: 100vh; display: flex; flex-wrap: wrap; align-items: center; align-content: center; justify-content: center; gap: 20px; position: relative; transform: translate(0, 0);}
.top_tit h2 {width: 100%; font-size: 3rem; text-align: center; font-weight: 700;}
.top_tit span {font-size: 1.5rem; text-align: center; font-weight: 300; letter-spacing: .1rem; display: block; width: 100%;}
.top_tit .cate {display: flex; align-items: center; justify-content: center; gap: 10px; margin-top: 10px;}
.top_tit .cate li {padding: 5px 10px; border: 1px solid #bbb; color: #bbb; border-radius: 50px; font-size: .8125rem;}
.top_tit .link {position: absolute; left: calc(50% - 60px); bottom: 50px;}
.top_tit .link a span {display: flex; align-items: center; justify-content: center; width: 100px; height: 100px; border: 1px solid #bbb; border-radius: 100%; font-size: 1rem; color: #555; font-weight: 700; line-height: 1.2; letter-spacing: 0; transition: .3s;}
.top_tit .link a:hover span {background: rgba(187, 187, 187, 0.226); transition: .3s;}
.work {display: flex; flex-wrap: wrap; gap: 50px;}
.work img {max-width: 70%; margin: 0 auto;}
.btn a {width: 80px; height: 80px; border: 1px solid #bbb; border-radius: 15px; background: none; cursor: pointer; transition: .3s; display: flex; align-items: center; justify-content: center;}
.btn a.prev {position: fixed; top: calc(50% - 80px); left: 10vw;}
.btn a.next {position: fixed; top: calc(50% - 80px); right: 10vw;}
.btn a:hover {background: rgba(187, 187, 187, 0.226); transition: .3s;}
